.bookings-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.booking-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 2em 4em;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  gap: 1em;
}

.booking-details {
  background-color: #F5F3EF;
  max-width: 25%;
}

.dashboard-container img {
  width: 50%;
}

.dashboard-header {
  text-align: center;
  margin: 2em 0;
}

.upcoming-bookings h3 {
  text-align: center;
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .upcoming-bookings .bookings-list {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }

  .booking-details {
    max-width: 100%;
  }
}