.bookings-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.booking-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 2em 4em;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  gap: 1em;
  min-height: 240px;
  min-width: 247px;
}

.booking-details {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: #F5F3EF;
  border-radius: 25px;
}

.booking-details button {
  margin: 1em;
}

.dashboard-container img {
  width: 14em;
  border-radius: 25px;
}

.dashboard-header {
  text-align: center;
  margin: 2em 0;
}

.upcoming-bookings h3 {
  text-align: center;
  margin-bottom: 1em;
}

/* Manager dashboard */
.venues-header,
.upcoming-bookings,
.empty-state {
  text-align: center;
  margin: 2em 0;
}

.venue-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.venue-card {
  display: flex;
  align-items: center;
}

.btn-delete {
  background-color: #F28C8C;
  color: #1F2937;
  cursor: pointer;
}

@media (min-width: 768px) {
  .booking-item {
    min-width: 584px;
    min-height: 335px;
  }
  
  .upcoming-bookings .bookings-list {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }

  .booking-details {
    max-width: 100%;
  }
}