.login-container {
  background-color: #ffffff;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 2rem auto;
}

.login-title {
  margin: 1em 0;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-input {
  display: flex;
  flex-direction: column;
}

.login-input input {
  margin: 2em 0;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.no-account {
  font-size: small;
}

.register-link {
  text-decoration: none;
  color: #4F8EF7;
}