.loginParent {
  background-color: #ffffff;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 2rem auto;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginInput {
  display: flex;
  flex-direction: column;
}

.loginInput input {
  margin: 1rem 0;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.noAccount {
  font-size: small;
}

.registerLink {
  text-decoration: none;
  color: #4F8EF7;
}