.register-container {
  background-color: #ffffff;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
}

.register-title {
  margin: 1em 0;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-input {
  display: flex;
  flex-direction: column;
}

.register-input input {
  margin: 2em 0;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.register-input input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.already-logged-in {
  font-size: small;
}

.login-link {
  text-decoration: none;
  color: #4F8EF7;
}