.venue-calendar-container {
  text-align: center;
}

.react-calendar {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  color: #1F2937;
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.react-calendar__tile {
  text-align: center;
  padding: 8px 0;
  border-radius: 50%;
  color: #1F2937;
  position: relative;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #EBEEF4;
}

.react-calendar__tile.booked {
  background-color: #0056D2;
  color: white;
  border-radius: 50%;
}

.react-calendar__tile--active {
  background-color: #1F2937 !important;
  color: white;
}

.react-calendar__navigation {
  background-color: #1F2937;
}

.react-calendar__navigation__label {
  display: flex;
  justify-content: center;
}

.available-dot {
  display: block;
  width: 6px;
  height: 6px;
  background-color: #0056D2;
  border-radius: 50%;
  margin: 2px auto 0 auto;
}

.calendar-legend {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.venue-calendar-container .calendar-legend {
  justify-content: center;
  display: flex;
}

.calendar-legend p {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0;
  color: #1F2937;
}

.legend-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.legend-dot.available {
  background-color: #0056D2;
}

.legend.dot.booked {
  background-color: #F44336;
}

.error-container {
  text-align: center;
  margin: 1em;
}

.error-container button {
  margin: auto;
}

form button {
  display: flex;
  margin: 2rem auto;
}

.customer-booking {
  text-align: center;
  margin: 2rem 0;
}

.auth-notice {
  text-align: center;
}