.profile-container .profile-banner {
  width: 100%;
  height: 200px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.profile-container .profile-avatar {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  margin: 2em auto;
  display: flex;
}

.profile-details {
  text-align: center;
  margin: 2em auto;
}

.profile-container button {
  margin: 1em 0;
}

/* Edit profile styling */
.edit-profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.edit-profile-form img {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  margin-bottom: 1em;
}

.edit-profile-form label {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

@media (min-width: 768px) {
  .profile-container .profile-banner {
    height: 40em;
    width: 100vw;
  }
}