.venue-card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  width: auto;
  flex-direction: column;
  padding: 10px;
}

.venue-card:hover {
  transform: translateY(-4px);
}

.venue-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.venue-title {
  text-align: center;
}

.venue-rating {
  display: flex;
  align-items: center;;
}

.venue-location-rating {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.venue-box {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 8px;
  background-color: #F5F3EF;
}