.header {
  position: sticky;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
  text-align: center;
  border-bottom: 2px solid #4F8EF7;
  background-color: #FFFFFF;
}

.desktop-profile {
  display: none;
}

@media (min-width: 768px) {
  .desktop-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .avatar-img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    object-fit: cover;
    display: block;
  }

  .profile-icon {
  cursor: pointer;
  }

  .logout-button, .avatar-img {
    margin: 0.5em 0;
  }
}