.header {
  position: sticky;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
  text-align: center;
  border-bottom: 2px solid #4F8EF7;
  background-color: #FFFFFF;
}

.spacer {
  flex: 1;
}

.header div {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-evenly;
}