
.navbar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 50%;
  position: fixed;
  left: -400px;
  top: 50px;
  background-color: #4F8EF7;
  transition: left 0.3s ease-in-out;
}

.navbar ul li {
  padding: 0.5em;
  color: #EBEEF4;
}

.nav-links.open {
  left: 0;
  padding: 0;
  margin: 0;
}

.nav-links li a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 768px) {
  
  
  .navbar ul {
    position: static;
    margin: 0;
    align-items: center;
    height: auto;
    width: auto;
    background: none;
    transition: none;
    display: flex;
    flex-direction: row;
  }

  .navbar ul li {
    color: #4F8EF7;
  }

  .nav-links {
    left: 0;
  }

  .hamburger {
    display: none;
  }

  .mobile-only {
    display: none;
  }
}