.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  width: 50%;
  list-style: none;
  position: fixed;
  left: -400px;
  top: 50px;
  background-color: #4F8EF7;
  transition: left 0.3s ease-in-out;
}

.navbar ul li {
  list-style-type: none;
  padding: 0.5em;
  color: #EBEEF4;
}

.nav-links.open {
  left: 0;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .navbar ul {
    display: flex;
    flex-direction: row;
  }
}