.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: #0056D2;
  color: #EBEEF4;
  height: auto;
}

.footer-nav ul {
  list-style: none;
}

.footer-nav ul li a {
  color: #EBEEF4;
  text-decoration: none;
}

.footer-socials a {
  margin: 0 4px;
  color: #EBEEF4;
}