@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Inter:wght@400;500&display=swap');

body, #root {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F5F3EF;
}

#root {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

h1, h2, p {
  margin: 0;
}